
snippet h1 "Section" b
# ${1:Section Name}

$0
endsnippet

snippet h2 "Sub Section" b
## ${1:Section Name}

$0
endsnippet

snippet h3 "SubSub Section" b
### ${1:Section Name}

$0
endsnippet

snippet dh1
# `!v strftime("%Y-%m-%d")`

$0
endsnippet

snippet dh2
## `!v strftime("%Y-%m-%d")`

$0
endsnippet

snippet dh3
### `!v strftime("%Y-%m-%d")`

$0
endsnippet
