[submodule "tools/unimpaired"]
	path = tools/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "langs/haml"]
	path = langs/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "langs/javascript"]
	path = langs/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "langs/cucumber"]
	path = langs/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "langs/markdown"]
	path = langs/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "langs/puppet"]
	path = langs/puppet
	url = https://github.com/ajf/puppet-vim.git
[submodule "langs/scala"]
	path = langs/scala
	url = https://github.com/bdd/vim-scala.git
[submodule "langs/handlebars"]
	path = langs/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "tools/matchit"]
	path = tools/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "tools/supertab"]
	path = tools/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "tools/snipmate"]
	path = tools/snipmate
	url = https://github.com/ervandew/snipmate.vim.git
[submodule "colorpacks/sampler-pack"]
	path = colorpacks/sampler-pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "tools/zoomwin"]
	path = tools/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "colorpacks/solarized"]
	path = colorpacks/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "langs/rspec"]
	path = langs/rspec
	url = https://github.com/taq/vim-rspec.git
[submodule "langs/rails"]
	path = langs/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "tools/endwise"]
	path = tools/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "langs/clojure"]
	path = langs/clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "langs/html5"]
	path = langs/html5
	url = https://github.com/othree/html5.vim.git
[submodule "langs/racket"]
	path = langs/racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "tools/surround"]
	path = tools/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "langs/coffee-script"]
	path = langs/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "tools/slimv"]
	path = tools/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "tools/buffergator"]
	path = tools/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "tools/css-color"]
	path = tools/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "tools/kwbd"]
	path = tools/kwbd
	url = https://github.com/rgarver/Kwbd.vim.git
[submodule "tools/indent-object"]
	path = tools/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "tools/tagbar"]
	path = tools/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "tools/gundo"]
	path = tools/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "langs/scss"]
	path = langs/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "langs/ruby"]
	path = langs/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "langs/git"]
	path = langs/git
	url = https://github.com/tpope/vim-git.git
[submodule "tools/ack"]
	path = tools/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "tools/easy-grep"]
	path = tools/easy-grep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule "langs/liquid"]
	path = langs/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "langs/jasmine"]
	path = langs/jasmine
	url = https://github.com/claco/jasmine.vim.git
[submodule "tools/fugitive"]
	path = tools/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "tools/command-t"]
	path = tools/command-t
	url = https://github.com/wycats/Command-T.git
[submodule "tools/abolish"]
	path = tools/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "tools/repeat"]
	path = tools/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "tools/ruby-block"]
	path = tools/ruby-block
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "tools/textobj-user"]
	path = tools/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "tools/tslime/plugin"]
	path = tools/tslime/plugin
	url = https://github.com/kikijump/tslime.vim.git
